{
  "worker_address": {
    "value": "127.0.0.1:31501",
    "description": "Address of worker in 'host:port' format (e.g., \"127.0.0.1:31501\"). The value cannot be empty."
  },
  "etcd_address": {
    "value": "",
    "description": "Address of ETCD server, (such as \"192.168.0.1:10001,192.168.0.2:10001,192.168.0.3:10001\")."
  },
  "shared_memory_size_mb": {
    "value": "1024",
    "description": "Upper limit of the shared memory, the unit is mb, must be greater than 0."
  },
  "memory_alignment": {
    "value": "64",
    "description": "The memory alignment size used by jemalloc for all memory allocations (in bytes). Larger alignment can improve performance but may increase memory consumption due to fragmentation."
  },
  "heartbeat_interval_ms": {
    "value": "1000",
    "description": "Time interval between worker and etcd heartbeats."
  },
  "ipc_through_shared_memory": {
    "value": "false",
    "description": "Using shared memory to exchange data between client and worker. If this parameter is set to true, client and worker will pass control messages through Unix Domain Sockets (UDS); otherwise, they will pass control messages through TCP/IP and exchange data through TCP/IP."
  },
  "unix_domain_socket_dir": {
    "value": "/home/kvcache/uds",
    "description": "The directory to store unix domain socket file. The UDS generates temporary files in this path. Max length: 80"
  },
  "cluster_name": {
    "value": "model_kvcache",
    "description": "cluster_name is typically used in scenarios where multiple AZ datasystem share a single etcd cluster, allowing different clusters to be distinguished by the cluster_name."
  },
  "sc_regular_socket_num": {
    "value": "0",
    "description": "The number of regular backend socket for stream cache, must be great equal than 0."
  },
  "oc_thread_num": {
    "value": "32",
    "description": "The number of worker service for object cache, default is 32."
  },
  "eviction_thread_num": {
    "value": "1",
    "description": "Thread number of eviction for object cache."
  },
  "eviction_reserve_mem_threshold_mb": {
    "value": "10240",
    "description": "The reserved memory (MB) is determined by min(shared_memory_size_mb*0.2, eviction_reserve_mem_threshold_mb). Eviction begins when memory drops below this threshold.The valid range is 100-102400."
  },
  "client_reconnect_wait_s": {
    "value": "5",
    "description": "Client reconnect wait seconds, default is 5."
  },
  "etcd_meta_pool_size": {
    "value": "8",
    "description": "ETCD metadata async pool size."
  },
  "log_monitor": {
    "value": "true",
    "description": "Record performance and resource logs."
  },
  "log_monitor_exporter": {
    "value": "harddisk",
    "description": "Specify the type of exporter, either harddisk or backend. Only takes effect when log_monitor is true."
  },
  "log_monitor_interval_ms": {
    "value": "10000",
    "description": "The sleep time between iterations of observability collector scan, default value is 10000ms(Must be greater than 0)."
  },
  "max_client_num": {
    "value": "200",
    "description": "Maximum number of clients that can be connected to a worker. Value range: [1, 10000]."
  },
  "rocksdb_write_mode": {
    "value": "none",
    "description": "Config the rocksdb support none, sync or async, async by default. Optional value: 'none', 'sync', 'async'. This represents the method of writing metadata to rocksdb."
  },
  "node_timeout_s": {
    "value": "60",
    "description": "Maximum time interval before a node is considered lost."
  },
  "node_dead_timeout_s": {
    "value": "300",
    "description": "Maximum time interval for the etcd to determine node death."
  },
  "arena_per_tenant": {
    "value": "1",
    "description": "The arena count for each tenant. Multiple arenas can improve the performance of share memory allocation for the first time, but each arena will use one more fd."
  },
  "shared_memory_populate": {
    "value": "false",
    "description": "Avoiding page faults during copying improves runtime performance but may result in longer worker startup times (depending on shared_memory_size_mb)."
  },
  "memory_reclamation_time_second": {
    "value": "600",
    "description": "The memory reclamation time after free."
  },
  "add_node_wait_time_s": {
    "value": "60",
    "description": "Time to wait for the first node that wants to join a working hash ring."
  },
  "auto_del_dead_node": {
    "value": "true",
    "description": "Decide whether to remove the node from hash ring or not when node is dead"
  },
  "client_dead_timeout_s": {
    "value": "120",
    "description": "Maximum time interval for the worker to determine client death, Value range: [15, UINT64_MAX)."
  },
  "monitor_config_file": {
    "value": "./datasystem/config/datasystem.config",
    "description": "Configure the path of the worker monitoring configuration file. During the execution of the worker, it periodically monitors whether the configuration file is changed to update the flag parameter value."
  },
  "enable_worker_worker_batch_get": {
    "value": "true",
    "description": "Enable worker->worker OC batch get, default false."
  },
  "batch_get_threshold_mb": {
    "value": "100",
    "description": "The payload threshold to batch get objects, the unit is mb, must be greater than 0. Setting to 0 will indicate no split."
  },
  "enable_reconciliation": {
    "value": "true",
    "description": "Whether to enable reconciliation, default is true."
  },
  "data_migrate_rate_limit_mb": {
    "value": "40",
    "description": "Data migrate rate limit for every node when scale down happen."
  },
  "check_async_queue_empty_time_s": {
    "value": "1",
    "description": "The worker ensures a certain period of time that the asynchronous queues for sending messages to ETCD and L2 cache remain empty before it can exit properly."
  },
  "health_check_path": {
    "value": "./datasystem/probe/healthy",
    "description": "File will create after the worker successfully."
  },
  "ready_check_path": {
    "value": "./datasystem/probe/ready",
    "description": "This file will be created after the worker service is started successfully and a connection can be established using the stub."
  },
  "rpc_thread_num": {
    "value": "16",
    "description": "Config rpc server thread number, must be great equal than 0."
  },
  "minloglevel": {
    "value": "0",
    "description": "Messages logged at a lower level than this don't actually get logged anywhere."
  },
  "log_dir": {
    "value": "/home/kvcache/logs",
    "description": "The directory where log files are stored."
  },
  "log_filename": {
    "value": "kvcache",
    "description": "Prefix of log filename, default is program invocation short name. Use standard characters only."
  },
  "log_async_queue_size": {
    "value": "65536",
    "description": "Size of async logger's message queue."
  },
  "max_log_size": {
    "value": "400",
    "description": "Maximum log file size (in MB), must be greater than 0."
  },
  "max_log_file_num": {
    "value": "20",
    "description": "Maximum number of log files to retain per severity level. And every log file size is limited by max_log_size."
  },
  "log_retention_day": {
    "value": "0",
    "description": "This value should be greater than or equal to 0.If log_retention_day is greater than 0, any log file from your project whose last modified time is greater than log_retention_day days will be unlinked. If log_retention_day is equal 0, will not unlink log file by time."
  },
  "log_async": {
    "value": "true",
    "description": "Flush log files with async mode."
  },
  "log_compress": {
    "value": "true",
    "description": "Compress old log files in .gz format. This parameter takes effect only when the size of the generated log is greater than max log size."
  },
  "logbufsecs": {
    "value": "10",
    "description": "Buffer log messages for at most this many seconds."
  },
  "v": {
    "value": "0",
    "description": "Vlog level, a larger value indicates more detailed logs. The value is between 0-3."
  },
  "enable_etcd_auth": {
    "value": "true",
    "description": "Whether to enable ETCD auth, default is false. ETCD certificate will be obtained."
  },
  "etcd_username": {
    "value": "xxx",
    "description": "The path of encrypted client's etcd certificate chain, default is none."
  },
  "etcd_password": {
    "value": "xxx",
    "description": "The path of encrypted client's etcd private key, default is none."
  },
  "max_rpc_session_num": {
    "value": "2048",
    "description": "Maximum number of sessions that can be cached, must be within [512, 10'000]"
  },
  "enable_fallocate": {
    "value": "false",
    "description": "Due to k8s's resource calculation policies,shared memory is sometimes multiple counted , which can lead to client crashes, Using fallocate to address this issue."
  },
  "enable_lossless_data_exit_mode": {
    "value": "true",
    "description": "Migrate data to another node before the node exits if other nodes are available. If this is the only node in the cluster, exits directly and the data will be lost."
  },
  "enable_urma": {
    "value": "true",
    "description": "Option to turn on urma for OC worker to worker data transfer, default false."
  },
  "urma_connection_size": {
    "value": "16",
    "description": "Number of jfs and jfr pair"
  },
  "urma_poll_size": {
    "value": "8",
    "description": "Number of complete record to poll at a time, 16 is the max this device can poll"
  },
  "urma_register_whole_arena": {
    "value": "true",
    "description": "Register the whole arena as segment during init, otherwise, register each object as a segment."
  },
  "logfile_mode": {
    "value": "416",
    "description": "Log file mode/permissions."
  },
  "oc_shm_transfer_threshold_kb": {
    "value": "256",
    "description": "The data threshold to transfer obj data between client and worker via shm, unit is KB"
  },
  "skip_authenticate": {
    "value": "true",
    "description": "Skip authentication for worker requests"
  },
  "enable_data_replication": {
    "value": "true",
    "description": "Allow data's replica to be cached locally"
  },
  "enable_redirect": {
    "value": "true",
    "description": "Enable query meta redirect when scale up or voluntary scale down, default is true"
  },
  "oc_worker_aggregate_merge_size": {
    "value": "2097152",
    "description": "Target batch size for worker worker responses, default is 2MB"
  },
  "oc_worker_aggregate_single_max": {
    "value": "65536",
    "description": "Max single item size for batching worker worker batch rsp, default is 64KB"
  },
  "oc_worker_worker_parallel_min": {
    "value": "100",
    "description": "Min data count for parallel worker worker batch rsp, default is 100"
  },
  "oc_worker_worker_parallel_nums": {
    "value": "16",
    "description": "worker worker batch rsp control nums, default 0 means unlimited"
  }
}
